<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="dashboard-view">
  <template>
    <!-- <style>
      :host {
        display: block;
      }
    </style> -->

    <div class="div-content">
      <h1>Dashboard Content</h1>
    </div>

  </template>
  <script>
    (function() {
      'use strict';
        
      Polymer({
        is: 'dashboard-view',

        properties: {

        },

        ready: function () {
          console.log('Dashboard ready!');
        }
      });
    })();
  </script>
</dom-module>
