<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="scenarios-view">
  <template>
    <style>
      /* :host {
        display: block;
      } */
    </style>

    <div class="div-content">
      <h1>Scenarios Content</h1>
    </div>

  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'scenarios-view',

        properties: {

        },

        ready: function () {
          console.log('Scenarios ready!');
        }
      });
    })();
  </script>
</dom-module>